body{
    background-color: #f9f7fe;
 font-family: "Roboto", sans-serif;
}
#container{
   max-width: 50%; 
   height: 0;
   padding-bottom: 30%;
   padding-right: 8px;
   padding-left: 8px;
   margin: 0 auto;
   background-color: white;
   border-radius: 18px;
   margin-top: 50px;
   box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
#form{
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    
}
#search{
    width: 500px;
    height: 51px;
    border-radius: 7px;
    background-color: #f9f7fe;
    margin-right: 10px;
    margin-left: 30px;
    text-align: center;
    border: 1px solid #f9f7fe;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
}

#submitButton{
 width: 97px;
 height: 47px;
 border-radius: 7px;
 background-color:#885df1 ;
 border: 1px solid #885df1;
 font-size: 16px;
 color: white;

}
#flex{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 20px;
    color:  rgba(39, 33, 66, 0.4);
    font-size: 16px;
    margin-bottom: 5px;
    
}
.TempratureValue{
    font-size: 45px;
    color: black;
  
}
#TempratureValue{
    display: inline;
    font-size: 95px;
    font-weight: bolder;
    color: black;
    vertical-align: middle;
}
h1{
    color: black;
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 2px;
    padding-left: 10px;
    text-align: left;
}
#humidityvalue,#windspeed{
    color: #f65282;
}
footer{
    margin-top: 100px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
  
.currentTime{
    margin-left: 30px;
   padding-left:10px;
    margin-bottom: 0;
    text-align: left;
}
#imoji{
    display: inline-block;
   vertical-align: middle;
    color: black;
    font-size: 40px;
    padding-bottom: 0;

}
#unit{
    display: inline-block;
    color: black;
   vertical-align: super;
   font-size: 25px;
}
